[tool.poetry]
name = "piri"
version = "0.1.0"
description = "Configurable and documentable Json transformation and mapping"
authors = ["Thomas Borgen <thomas.borgen@greenbird.com>"]

license = "Apache-2.0"
readme = "docs/index.md"
repository = "https://github.com/greenbird/piri"

keywords = [
  "Json mapping",
  "data transformation",
  "json to json",
  "dict to dict",
  "configurable"
]

classifiers = [
  "Development Status :: 5 - Production/Stable",
  "Intended Audience :: Developers",
  "Operating System :: OS Independent",
  "Topic :: Software Development :: Libraries :: Python Modules",
  "Topic :: Utilities"
]

[tool.poetry.dependencies]
python = "^3.6"
typing_extensions = "3.7.4"
pycountry = "19.8.18"
returns = "^0.14.0"
jsonschema = "^3.2.0"

[tool.poetry.dev-dependencies]
mypy = "^0.782"
wemake-python-styleguide = "^0.14.1"
pre-commit = "^1.18"
simplejson = "^3.16"

safety = "^1.8"

pytest = "^5.2"
pytest-cov = "^2.8"
coverage-badge = "^1.0"
mkdocs-material = "^5.5.7"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
